.show{
    width: 70rem;
    max-width: 70rem;
   
   
    margin: 3rem auto;
border: 0.1rem black solid;
}

.show header{
    text-align: center;
    background-color: rgb(230,113,125);
    height:20rem;
}

.mid{
    background-color: rgb(229,223,224);
    height: 20rem;
}

.mid button{
    margin-top: 2rem;
}
 